@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&family=Righteous&family=Roboto:wght@100;300;400;700&family=Sarala:wght@400;700&family=Ubuntu:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.logo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.10rem;
    font-weight: 600;
    max-width: 1rem;
}

.nav{
    display: flex;
    gap: 3rem;
}

.nav a{
    color: #000;
    font-family: 'Sarala', sans-serif;
}

.container{
    padding: 3rem 5rem 5rem 5rem;
}

.home{
    display: flex;
    gap: 14rem;
}


.information-main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.information-main h1{
    font-family: 'Nunito', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    max-width: 25rem;
    line-height: 5rem;
}


.information-main p{
    font-family: 'Sarala', sans-serif;
    font-size: 0.7rem;
    max-width: 25rem;
    text-align: justify;
}

.information-buttons{
    display: flex;
    gap: 0.5rem;
}

.btn{
    padding: 1rem;
    border-radius: 0.7rem;
    border: none;
    font-size: 0.7rem;
    display: flex;
    gap: 0.9rem;
    justify-content: center;
    align-items: center;
    font-family: 'Sarala', sans-serif;
}

.btn i{
    font-size: 0.8rem;
}

.information-talk{
    background-color: #664de4;
    color: #fff;
}

.information-portfolio{
    background-color: #fff;
}

.information-social-midia{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.midia{
    background-color: #efefefa9;
    border-radius: 50%;
    padding: 1rem;
}


.information-image-perfil img{
    display: block;
    margin: 0 auto;
    width: 33rem;
    height: 35rem;
}

.section-skills-experience{
    display: flex;
    padding: 3rem 5rem 5rem 5rem;
    background-color: #FCDA69;
    gap: 12rem;
}

.skills-experience-left{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.skills-experience-left h2{
    font-family: 'Nunito', sans-serif;
    font-size: 5rem;
    max-width: 20rem;
}

.about-skills{
    font-family: 'Sarala', sans-serif;
    font-size: 0.7rem;
    max-width: 25rem;
    text-align: justify;
}

.title-skills{
    font-family: 'Sarala', sans-serif;
    font-size: 2rem;
}

.skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6rem;
    row-gap: 1rem;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.skill img{
    width: 3rem;
    height: 3rem;
}

.skill-experience-right{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.experience-title{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
}

.experience{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.experiences{
    display: flex;
    gap: 2rem;
    border-top: #000 solid 0.1rem;
    padding-top: 1rem;
}

.date-experience{
    font-family: 'Sarala', sans-serif;
    font-size: 0.7rem;
}


.info-experience{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.info-title{
    font-family: 'Sarala', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.info-sub-title{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: #4b4b4b;
}
